/* UNIVERSAL */
footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: transparent;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
  font-size: 18px;
  z-index: 99;
}
