@import "common.css";

body {
  background-color: var(--rgba-pink-translucent);

  background-size: 200px 200px;
  background-image: url("/client/public/tim_the_lad.jpg");
  background-repeat: repeat;
  background-position: top left;
}

/* The glue that holds my messaging madness together */
#content-panel {
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  width: 75%;
  height: auto;

  margin-top: 17.5vh;
  margin-left: auto;
  margin-right: auto;

  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  background-color: var(--rgba-pink-translucent);
}

.info-panel {
  width: 95%;
  height: max-content;

  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  top: 0;
  left: 0;

  font-weight: bold;
  font-size: 0.95rem;

  text-align: center;
}

/* New Message Form */
#input-form {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
  margin-bottom: 5px;
  border-top: 2.5px black solid;
  box-sizing: border-box;
}

#author-input,
#message-input {
  font-family: sans-serif;
  border: 2.5px black solid;
  box-sizing: border-box;
}

#author-input {
  height: 20px;
  width: 25%;
}

#message-input {
  width: 75%;
}

.form-label {
  margin-top: 2.5px;
  font-weight: bold;
}

#submit-btn {
  border: 2.5px black solid;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 25%;
  height: 25px;
}

/* Message Log */
#message-log {
  display: flex;
  flex-flow: column wrap;
  border-top: 3px black solid;
  box-sizing: border-box;
}

.entry-container {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 3px black solid;
  box-sizing: border-box;
}

.id-container,
.name-container,
.like-container,
.message-container {
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 2.5px;
}

.id-container,
.name-container,
.like-container {
  font-weight: bold;
  text-align: center;
}

.name-container,
.message-container {
  height: auto;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.id-container {
  width: auto;
}

.name-container {
  width: auto;
  height: auto;
  max-height: 10%;
  overflow-wrap: break-word;
}

.message-container {
  width: 100%;
}

.like-div {
  display: flex;
  height: 32px;
  max-height: auto;

  width: 32px;
  max-width: 30px;
}

.like-container {
  color: black;
  pointer-events: none;
  position: absolute;
  width: 36px;
  height: 36px;
  transform: translateX(-12.5%);
}

.like-btn {
  margin-right: 5px;
  width: 36px;
  height: 36px;
}

.del-btn {
  width: 32px;
  height: 32px;
}
